<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Peer to Peer Chat Program</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<h1>Peer to Peer Chat Program</h1>

<!--/*@thymesVar id="currentUser" type="com.greenfox.seed0forever.p2pchat.model.User"*/-->
<form action="#" th:action="@{/update}" th:object="${currentUser}" method="post">
  <input type="hidden" th:field="*{id}"/>
  <table>
    <tr>
      <td><label>Your username: <input type="text" th:field="*{username}"/></label></td>
      <td><input type="submit" value="Update"/></td>
    </tr>
  </table>
</form>


<!--/*@thymesVar id="developedBy" type="java.lang.String"*/-->
<p th:text="'Created by ' + ${developedBy}"/>
<!--/*@thymesVar id="chatAppUniqueId" type="java.lang.String"*/-->
<p th:text="'CHAT_APP_UNIQUE_ID = ' + ${chatAppUniqueId}"/>
<!--/*@thymesVar id="chatAppPeerAddress" type="java.lang.String"*/-->
<p th:text="'CHAT_APP_PEER_ADDRESSS = ' + ${chatAppPeerAddress}"/>

</body>

</html>
