<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<p th:text="'Peer to Peer Chat application'"/>
<!--/*@thymesVar id="developedBy" type="java.lang.String"*/-->
<p th:text="'Created by ' + ${developedBy}"/>
<!--/*@thymesVar id="chatAppUniqueId" type="java.lang.String"*/-->
<p th:text="'CHAT_APP_UNIQUE_ID = ' + ${chatAppUniqueId}"/>
<!--/*@thymesVar id="chatAppPeerAddress" type="java.lang.String"*/-->
<p th:text="'CHAT_APP_PEER_ADDRESSS = ' + ${chatAppPeerAddress}"/>

</body>

</html>
