<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Peer to Peer Chat Program</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<h1>Peer to Peer Chat Program</h1>

<!--/*@thymesVar id="currentUser" type="com.greenfox.seed0forever.p2pchat.model.User"*/-->
<form action="#" th:action="@{/update}" th:object="${currentUser}" method="post">
  <input type="hidden" th:field="*{id}"/>
  <table>
    <tr>
      <td><label>Your username: <input type="text" th:field="*{username}"/></label></td>
      <td><input type="submit" value="Update"/></td>
    </tr>
  </table>
</form>


<ul>
  <li>
    <p>App</p>
    <p>Hi there! Submit your message using the send button!</p>
  </li>
  <!--/*@thymesVar id="messageList" type="java.util.List<com.greenfox.seed0forever.p2pchat.model.Message>"*/-->
  <li th:each="messageElement: ${messageList}">
    <p th:text="${messageElement.username}">Usename</p>
    <p th:text="${messageElement.text}">Message</p>
  </li>
</ul>

<!--/*@thymesVar id="messageToAdd" type="com.greenfox.seed0forever.p2pchat.model.Message"*/-->
<form action="#" th:action="@{/save-message}" th:object="${messageToAdd}" method="post">
  <textarea rows="10" cols="50" th:field="*{text}"></textarea>
  <input type="hidden" th:field="*{id}"/>
  <input type="submit" value="Send"/>
</form>

<p><a href="/" th:href="@{/}">Refresh</a></p>

<!--/*@thymesVar id="developedBy" type="java.lang.String"*/-->
<p th:text="'Created by ' + ${developedBy}"/>
<!--/*@thymesVar id="chatAppUniqueId" type="java.lang.String"*/-->
<p th:text="'CHAT_APP_UNIQUE_ID = ' + ${chatAppUniqueId}"/>
<!--/*@thymesVar id="chatAppPeerAddress" type="java.lang.String"*/-->
<p th:text="'CHAT_APP_PEER_ADDRESSS = ' + ${chatAppPeerAddress}"/>

</body>

</html>
